.title {
  font-size: clamp(1.5rem, 1rem + 1.5vw, 2.25rem);
  font-weight: 700;
}

.input {
  border: 1px solid rgba(51, 51, 51, 0.2);
  background: #ffffff;

  width: 100%;
  padding: 0.85rem 1.25rem;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
    0px 4px 16px rgba(51, 51, 51, 0.08);

  border-radius: 999rem;

  @media (min-width: 991px) {
    padding: 0.85rem 2rem;
  }

  &:focus {
    outline: none;
    border-color: rgba(51, 51, 51, 0.8);
    box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.1),
      0px 6px 20px rgba(51, 51, 51, 0.15);
  }
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;

  .actions {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    display: flex;
    padding: 0.75rem 0;

    background: rgba(255, 255, 255, 0.4);

    transform: translateY(100%);
    transition: 200ms cubic-bezier(0.86, 0, 0.07, 1);

    a {
      flex: 1;
      padding: 0.75rem 0;

      display: flex;
      justify-content: center;
      align-items: center;

      &:not(:last-child) {
        border-left: 1px solid #515151;
      }

      img {
        width: 2rem;
      }
    }

    @media (max-width: 768px) {
      padding: 0.5rem;

      a {
        padding: 0.5rem;
        img {
          width: 1.25rem;
        }
      }
    }
  }

  &:hover .actions {
    transform: translateY(0);
  }
}

.price {
  font-size: 2.25rem;
  font-weight: 700;
  color: $primary;
}

button {
  background: none;
  border: none;
  font-weight: 500;
}

.btn-primary {
  background: $primary;
  border-color: $primary;
  border-radius: 9999rem;
  padding-inline: 0.75rem;
}

.btn-primary:hover {
  background-color: $primary-hover;
  border-color: $primary-hover;
}

.btn-primary:focus,
.btn-primary:active {
  background-color: $primary-hover;
  border-color: $primary-hover;
  box-shadow: 0 0 0 0.25rem #d32d2d81 !important;
}

.btn-secondary {
  background: white;
  border-color: white;
  color: $primary;

  border-radius: 9999rem;
  padding-inline: 0.75rem;
}

.btn-secondary:hover {
  background: white;
  border-color: white;
  color: $primary;
  opacity: 0.9;
}

.btn-secondary:focus,
.btn-secondary:active {
  background: white;
  border-color: white;
  color: $primary;
  border-color: transparent;
  box-shadow: 0 0 0 0.25rem #dddddd81 !important;
}

.slider__controls {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;

  .swiper-pagination-bullet {
    background: #d9dbe1;
    opacity: unset;
    margin: 0 !important;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 0.5em;

    &-active {
      width: 1rem;
      background: $primary !important;
    }
  }
}
