.main__header {
  .header__top--mobile {
    background: $primary;
    color: $primary-accent;
  }

  & :is(.country, .language) {
    display: flex;
    align-items: center;
  }

  .arrow {
    width: 1.5rem;
    height: 1.5rem;
  }

  .text {
    font-weight: 500;
  }

  .country .text {
    font-size: 0.875rem;
  }

  .language .text {
    font-size: 1rem;
  }

  .search-icon {
    position: absolute;
    left: 0.95rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

.header__bottom {
  background: $primary;
  color: $primary-accent;

  .bottom-btn {
    color: black;
    background: none;
    border: none;

    font-size: 0.875rem;
    font-weight: 700;
    padding-left: 1.5rem;
    border-left: 1px solid #c4c4c4;
  }

  .categories a {
    font-size: 0.875rem;

    &:hover {
      text-decoration: underline;
      color: #f0f0f0;
    }
  }

  .nav__actions button {
    color: inherit;
    font-weight: 400;
    span {
      font-size: 0.875rem;
    }
  }
}
