.header__top {
  background: $primary;
  color: $primary-accent;

  & :is(.country, .language) {
    display: flex;
    align-items: center;
  }

  .arrow {
    width: 1.5rem;
    height: 1.5rem;
  }

  .text {
    font-weight: 500;
  }

  .country .text {
    font-size: 0.875rem;
  }

  .language .text {
    font-size: 1rem;
  }
}

.header__bottom {
  .icon {
    position: absolute;
    left: 0.95rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
