.hero {
  .carousel {
    .carousel-indicators button {
      background: #212529;
      opacity: 1;
      border: 0;

      &.active {
        background: $primary;
      }
    }

    .carousel-item img {
      width: 100%;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 140px;
    }
  }

  .label {
    font-size: 1.125rem;
  }
}

.hero #categories {
  padding: 3rem 1rem;
}
