/* Tajawal Font */
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

@import "variables";
@import "header";
@import "hero";
@import "offers";

body {
  font-family: Tajawal, sans-serif;
}

img {
  max-width: 100%;
  user-select: none;
}

button {
  cursor: pointer;
}

section {
  overflow: hidden;
}

.btn-primary {
  background: $primary;
  border-color: $primary;
  border-radius: 9999rem;
  padding-inline: 0.75rem;
}

.btn-primary:hover,
.btn-primary:visited {
  background-color: $primary-hover;
  border-color: $primary-hover;
}

.btn-primary:focus,
.btn-primary:active {
  background-color: $primary-hover;
  border-color: $primary-hover;
  box-shadow: 0 0 0 0.25rem #d32d2d81 !important;
}

// Brands
.brands {
  background: #f2f2f2;

  .title {
    font-size: 1.4rem;
  }
}

// FEATURES
.features {
  background: $primary;
  color: $primary-accent;
  padding: 2.5rem 0;
  gap: 4rem;

  .label {
    font-size: 2rem;
  }
}
