/* Tajawal Font */
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

@import "variables";
@import "helpers";
@import "header";
@import "hero";
@import "offers";

body {
  font-family: Tajawal, sans-serif;
}

img {
  max-width: 100%;
  user-select: none;
}

button {
  color: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

section {
  padding: 2.5rem 0;
  overflow: hidden;
}

// Mobile nav
.mobile-nav {
  background: #000000;
  z-index: 10000;

  display: flex;
  justify-content: space-between;

  padding: 1rem 0.5rem;

  .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 0.875rem;
    color: #d3dcdf99;

    cursor: pointer;

    img {
      filter: invert(20%) opacity(60%);
    }

    &:hover,
    &.active {
      color: #fbfcfc;

      img {
        filter: unset;
      }
    }

    @media (min-width: 500px) {
      font-size: 1rem;
    }
  }
}

// Brands
.brands {
  background: #f2f2f2;

  .title {
    font-size: 1.4rem;

    @media (min-width: 991px) {
      font-size: 1.75rem;
    }
  }

  img {
    width: 3.6rem;

    @media (min-width: 768px) {
      width: auto;
    }
  }

  @media (min-width: 768px) {
    background: white;
  }

  @media (min-width: 991px) {
    padding-bottom: 6rem !important;
  }
}

// FEATURES
.features {
  background: $primary;
  color: $primary-accent;
  padding: 2.5rem 0;

  .container-lg {
    gap: 4rem;
    max-width: 1200px;
  }

  .label {
    font-size: 2rem;
  }
}

// Advertisement
.ad {
  h3 {
    font-size: clamp(0.875rem, 0.5rem + 1.5vw, 1.8rem);
    font-weight: 700;
    margin-bottom: 0.625rem;
  }

  h4 {
    font-size: clamp(0.875rem, 0.5rem + 1.5vw, 1.8rem);
    font-weight: 700;
    color: $primary;
    margin-bottom: 1.7rem;

    span {
      color: $accent;
    }
  }

  .ad-btn {
    font-weight: 700;
    height: 5rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    position: relative;

    button {
      width: 100%;
      height: 100%;
      font-size: clamp(1rem, 0.75rem + 2vw, 3rem);

      outline-offset: 5px;
      outline: 2px dashed $primary;
    }

    @media (min-width: 768px) {
      height: 6rem;
    }
  }
}

// SHOPS
.shops {
  background: #fff6f2;
}

.shops__slider {
  padding: 0;
  padding-top: 1.25rem;

  .swiper-slide-inner {
    max-width: 330px;
    margin: 0 auto;
    background: white;

    .content {
      padding: 0 0.6rem;
    }

    .name {
      font-size: 1.125rem;
    }
  }
}

// SALE
.sale {
  background: $primary;
  color: $primary-accent;
  padding-top: 4rem;
  padding-bottom: 1rem;

  header {
    font-weight: 500;
    margin-bottom: 3rem;

    .title {
      font-size: clamp(0.875rem, 1.2rem + 1.5vw, 2.5rem);
    }

    p {
      font-size: clamp(0.875rem, 0.5rem + 1.5vw, 1.125rem);
      font-weight: 400;
      margin-top: 1.5rem;
    }
  }

  .swiper-slide {
    .label {
      font-size: 1.125rem;
      font-weight: 500;
    }

    .image {
      background: url("../images/border-circle.svg") no-repeat center center /
        100% 100%;
      img {
        padding: 6px;
      }
    }
  }

  .slider__controls .swiper-pagination-bullet-active {
    background: white !important;
  }
}

// Stores
.stores {
  background: #f2f2f2;

  header {
    position: relative;

    @media (min-width: 991px) {
      padding: 1rem 0;
    }

    button[aria-disabled="true"] {
      display: none !important;
    }

    .prev {
      position: absolute;
      top: 0;
      left: 3rem;
    }

    .next {
      position: absolute;
      top: 0;
      right: 3rem;
    }
  }

  .store {
    max-width: 528px;
    height: 100%;
    margin: 0 auto;

    font-size: clamp(1.125rem, 1.2rem + 1.5vw, 1.5rem);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: white;

    .item {
      border-bottom: 1px solid #c4c4c4;
      padding: 0 0.5rem;
    }

    header {
      padding: 0.3rem 0.6rem;
    }

    .content {
      h4 {
        font-size: clamp(1rem, 0.5rem + 1.5vw, 1.5rem);
      }

      p {
        font-size: clamp(0.875rem, 0.5rem + 1.5vw, 1.125rem);
      }

      .price {
        font-size: clamp(1.125rem, 1rem + 1.5vw, 1.5rem);
      }

      .rate img {
        width: 0.9rem;
      }
    }
  }
}

// Testimonials
.testimonials {
  background: $primary;
  color: $primary-accent;
  padding: 2.5rem 0;

  .swiper-slide {
    .content {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      @media (min-width: 768px) {
        text-align: initial;
        gap: 1rem;
      }

      .rate {
        img {
          width: 1.5rem;
        }
      }
    }

    h4 {
      font-size: clamp(1.5rem, 1rem + 2vw, 2.25rem);
      font-weight: 500;
    }

    p {
      margin-bottom: 0;
      font-size: clamp(0.75rem, 0.5rem + 2vw, 1.6rem);
      line-height: 2em;
    }

    .image img {
      width: 10rem;

      border: 2px solid white;
      border-radius: 999rem;
      padding: 5px;

      @media (min-width: 768px) {
        width: 13rem;
      }
    }
  }

  .arrows {
    @media (min-width: 768px) {
      position: relative;
      top: -2.5rem;
      gap: 1.5rem;
      z-index: 10;
    }

    img {
      display: block;
      width: 2.5rem;
      @media (min-width: 768px) {
        width: auto;
      }
    }
  }

  @media (min-width: 768px) {
    padding: 5rem 0;
  }
}

// Newsletter
.newsletter {
  h5 {
    font-size: clamp(0.875rem, 0.5rem + 2vw, 2.25rem);
    font-weight: 500;
    margin: 1.4rem 0 2.2rem;
    text-align: center;

    span {
      color: $primary;
    }
  }

  form {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 45rem;
    margin-inline: auto;
    font-size: clamp(0.875rem, 0.5rem + 1.5vw, 1.125rem);

    button {
      position: absolute;
      left: 0.4rem;
      top: 50%;
      height: 85%;
      transform: translateY(-50%);

      font-size: clamp(0.75rem, 0.5rem + 1vw, 1rem);
      padding: 0 2em;
    }
  }

  @media (min-width: 768px) {
    padding: 6rem 0;
  }
}

// Footer
footer.footer {
  background: #f3a08e1f;

  .top {
    padding: 2.5rem 3rem;
  }

  .bottom {
    background: $primary;
    color: $primary-accent;

    p {
      font-size: clamp(0.875rem, 0.5rem + 1.5vw, 1.5rem);
      margin-bottom: 0;
    }
  }

  h3 {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 0;
  }

  .footer__lists {
    gap: 2.5rem;

    .list {
      display: flex;
      flex-direction: column;

      .label {
        font-size: clamp(0.875rem, 0.5rem + 1.5vw, 1.5rem);
        color: $primary;
        margin-bottom: 1rem;
      }

      a {
        font-size: clamp(0.875rem, 0.5rem + 1.5vw, 1.125rem);
        font-weight: 500;

        &:hover {
          color: $primary;
        }
      }
    }

    @media (min-width: 991px) {
      gap: 6rem;
    }
  }
}
