/* Tajawal Font */
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
.title {
  font-size: clamp(1.5rem, 1rem + 1.5vw, 2.25rem);
  font-weight: 700;
}

.input {
  border: none;
  background: #ffffff;
  width: 100%;
  padding: 0.85rem 1.25rem;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
  border-radius: 999rem;
}
@media (min-width: 991px) {
  .input {
    padding: 0.85rem 2rem;
  }
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price {
  font-size: 2.25rem;
  font-weight: 700;
  color: #b92728;
}

button {
  background: none;
  border: none;
  font-weight: 500;
}

.btn-primary {
  background: #b92728;
  border-color: #b92728;
  border-radius: 9999rem;
  padding-inline: 0.75rem;
}

.btn-primary:hover {
  background-color: #a01818;
  border-color: #a01818;
}

.btn-primary:focus,
.btn-primary:active {
  background-color: #a01818;
  border-color: #a01818;
  box-shadow: 0 0 0 0.25rem rgba(211, 45, 45, 0.5058823529) !important;
}

.btn-secondary {
  background: white;
  border-color: white;
  color: #b92728;
  border-radius: 9999rem;
  padding-inline: 0.75rem;
}

.btn-secondary:hover {
  background: white;
  border-color: white;
  color: #b92728;
  opacity: 0.9;
}

.btn-secondary:focus,
.btn-secondary:active {
  background: white;
  border-color: white;
  color: #b92728;
  border-color: transparent;
  box-shadow: 0 0 0 0.25rem rgba(221, 221, 221, 0.5058823529) !important;
}

.slider__controls {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}
.slider__controls .swiper-pagination-bullet {
  background: #d9dbe1;
  opacity: unset;
  margin: 0 !important;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 0.5em;
}
.slider__controls .swiper-pagination-bullet-active {
  width: 1rem;
  background: #b92728 !important;
}

.main__header .header__top--mobile {
  background: #b92728;
  color: #ffffff;
}
.main__header .dropdown-btn {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;
}
.main__header .arrow {
  width: 1.5rem;
  height: 1.5rem;
}
.main__header .text {
  font-weight: 500;
}
.main__header .country .text {
  font-size: 0.875rem;
}
.main__header .language .text {
  font-size: 1rem;
}
.main__header .search-icon {
  position: absolute;
  left: 0.95rem;
  top: 50%;
  transform: translateY(-50%);
}
.main__header .items {
  position: absolute;
  left: 0;
  top: 4rem;
  width: 7rem;
  z-index: 1000;
  font-weight: 500;
  border-radius: 0.25rem;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
  background: white;
  color: black;
  opacity: 0;
  visibility: hidden;
  transition: 150ms ease-in-out;
}
.main__header .items.active {
  top: 3rem;
  opacity: 1;
  visibility: visible;
}
.main__header .items li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding: 0.75rem 1rem;
}
.main__header .items li:hover {
  background: #eee;
}
.main__header .items li:active {
  background: #ddd;
}

.header__bottom {
  background: #b92728;
  color: #ffffff;
}
.header__bottom .dropdown .bottom-btn {
  color: black;
  background: none;
  border: none;
  font-size: 0.875rem;
  font-weight: 700;
  height: 100%;
  padding-left: 1.5rem;
  border-left: 1px solid #c4c4c4;
}
.header__bottom .dropdown .items {
  padding: 2rem 1rem;
  width: auto;
  text-align: left;
  width: 300px;
  right: 0;
  direction: ltr;
}
.header__bottom .dropdown .items h4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.header__bottom .dropdown .items li {
  text-align: left;
  gap: unset;
  padding: unset;
}
.header__bottom .dropdown .items li a {
  color: inherit;
  padding: 0.75rem 1rem;
  width: 100%;
}
.header__bottom .dropdown .items li:hover {
  color: #b92728;
}
.header__bottom .categories a {
  font-size: 0.875rem;
}
.header__bottom .categories a:hover {
  text-decoration: underline;
  color: #f0f0f0;
}
.header__bottom .nav__actions button {
  color: inherit;
  font-weight: 400;
}
.header__bottom .nav__actions button span {
  font-size: 0.875rem;
}

.hero .carousel .carousel-indicators button {
  background: #212529;
  opacity: 1;
  border: 0;
}
.hero .carousel .carousel-indicators button.active {
  background: #b92728;
}
.hero .carousel .carousel-item img {
  width: 100%;
}
.hero .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .item img {
  max-width: 140px;
}
.hero .label {
  font-size: 1.125rem;
}

.hero #categories {
  padding: 3rem 1rem;
}

.offers {
  background: #fff6f2;
  padding: 1.5rem 0;
}
.offers .title {
  font-size: 1.5rem;
}
.offers .footer-btn {
  margin-top: 2.5rem;
}
@media (min-width: 768px) {
  .offers {
    padding: 2rem 0;
  }
}

.offers .offer {
  height: unset;
  background: white;
  border: 1px solid #e5e9f2;
}
.offers .offer .content,
.offers .offer .image {
  width: 50%;
}
@media (min-width: 768px) {
  .offers .offer .content,
  .offers .offer .image {
    width: unset;
  }
}
.offers .offer h3 {
  font-size: clamp(1.1rem, 0.75rem + 2vw, 2rem);
}
@media (min-width: 768px) {
  .offers .offer h3 {
    font-size: clamp(1.1rem, 0.75rem + 2vw, 1.125rem);
  }
}
.offers .offer p {
  font-size: 0.8rem;
}

.offer .rate {
  margin-bottom: 1.5rem;
}
.offer .rate img {
  width: 1rem;
}
@media (min-width: 541px) {
  .offer .rate img {
    width: 1.5rem;
  }
}
@media (min-width: 768px) {
  .offer .rate {
    margin-bottom: 0;
  }
}

.offer .image {
  margin-right: 0.3125rem;
  position: relative;
  overflow: hidden;
}
.offer .image img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.offer .image .actions {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 0.75rem 0;
  background: rgba(255, 255, 255, 0.4);
  transform: translateY(100%);
  transition: 200ms cubic-bezier(0.86, 0, 0.07, 1);
}
.offer .image .actions a {
  flex: 1;
  padding: 0.75rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer .image .actions a:not(:last-child) {
  border-left: 1px solid #515151;
}
.offer .image .actions a img {
  width: 2rem;
}
@media (min-width: 768px) {
  .offer .image {
    margin-right: 0;
  }
}

.offer .timer {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  flex-wrap: wrap-reverse;
  gap: 0.25rem;
}
.offer .timer .digit {
  position: relative;
}
.offer .timer .digit:not(:first-child):after {
  content: ":";
  position: absolute;
  right: -0.65rem;
  top: 0;
  font-weight: 500;
  display: none;
}
@media (min-width: 400px) {
  .offer .timer .digit:not(:first-child):after {
    display: block;
  }
}
@media (min-width: 768px) {
  .offer .timer .digit:not(:first-child):after {
    right: -1rem;
    top: -0.5rem;
    font-size: 2rem;
  }
}
.offer .timer .number {
  font-size: clamp(0.675rem, 0.5rem + 1.5vw, 1.5rem);
  margin-bottom: 0.25rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (min-width: 768px) {
  .offer .timer .number {
    background: #b92728;
    color: #ffffff;
  }
}
.offer .timer .label {
  font-size: clamp(0.6rem, 0.4rem + 1.5vw, 1.5rem);
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .offer .timer .label {
    font-size: clamp(0.7rem, 0.4rem + 2vw, 0.9rem);
  }
}
@media (min-width: 400px) {
  .offer .timer {
    gap: 1rem;
  }
}
@media (min-width: 768px) {
  .offer .timer {
    color: #b92728;
  }
}

.offer:hover .image .actions {
  transform: translateY(0);
}

@media (min-width: 768px) {
  .offer.active .timer,
  .offer:first-child .timer {
    background: #b92728;
    color: #ffffff;
  }
  .offer.active .timer .number,
  .offer:first-child .timer .number {
    background: #ffffff;
    color: #b92728;
  }
}
body {
  font-family: Tajawal, sans-serif;
}

img {
  max-width: 100%;
  user-select: none;
}

button {
  color: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

section {
  padding: 2.5rem 0;
  overflow: hidden;
}

.mobile-nav {
  background: #000000;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}
.mobile-nav .link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  color: rgba(211, 220, 223, 0.6);
  cursor: pointer;
}
.mobile-nav .link img {
  filter: invert(20%) opacity(60%);
}
.mobile-nav .link:hover, .mobile-nav .link.active {
  color: #fbfcfc;
}
.mobile-nav .link:hover img, .mobile-nav .link.active img {
  filter: unset;
}
@media (min-width: 500px) {
  .mobile-nav .link {
    font-size: 1rem;
  }
}

.brands {
  background: #f2f2f2;
}
.brands .title {
  font-size: 1.4rem;
}
@media (min-width: 991px) {
  .brands .title {
    font-size: 1.75rem;
  }
}
.brands img {
  width: 3.6rem;
}
@media (min-width: 768px) {
  .brands img {
    width: auto;
  }
}
@media (min-width: 991px) {
  .brands {
    padding-bottom: 6rem !important;
  }
}

.features {
  background: #b92728;
  color: #ffffff;
  padding: 2.5rem 0;
}
.features .container-lg {
  gap: 4rem;
  max-width: 1200px;
}
.features .label {
  font-size: 2rem;
}

.ad h3 {
  font-size: clamp(0.875rem, 0.5rem + 1.5vw, 1.8rem);
  font-weight: 700;
  margin-bottom: 0.625rem;
}
.ad h4 {
  font-size: clamp(0.875rem, 0.5rem + 1.5vw, 1.8rem);
  font-weight: 700;
  color: #b92728;
  margin-bottom: 1.7rem;
}
.ad h4 span {
  color: #000;
}
.ad .ad-btn {
  font-weight: 700;
  height: 5rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.ad .ad-btn button {
  width: 100%;
  height: 100%;
  font-size: clamp(1rem, 0.75rem + 2vw, 3rem);
  outline-offset: 5px;
  outline: 2px dashed #b92728;
}
@media (min-width: 768px) {
  .ad .ad-btn {
    height: 6rem;
  }
}

.shops {
  background: #fff6f2;
}

.shops__slider {
  padding: 0;
  padding-top: 1.25rem;
}
.shops__slider .swiper-slide-inner {
  max-width: 330px;
  margin: 0 auto;
  background: white;
}
.shops__slider .swiper-slide-inner .content {
  padding: 0 0.6rem;
}
.shops__slider .swiper-slide-inner .name {
  font-size: 1.125rem;
}

.sale {
  background: #b92728;
  color: #ffffff;
  padding-top: 4rem;
  padding-bottom: 1rem;
}
.sale header {
  font-weight: 500;
  margin-bottom: 3rem;
}
.sale header .title {
  font-size: clamp(0.875rem, 1.2rem + 1.5vw, 2.5rem);
}
.sale header p {
  font-size: clamp(0.875rem, 0.5rem + 1.5vw, 1.125rem);
  font-weight: 400;
  margin-top: 1.5rem;
}
.sale .swiper-slide .label {
  font-size: 1.125rem;
  font-weight: 500;
}
.sale .swiper-slide .image {
  background: url("../images/border-circle.svg") no-repeat center center/100% 100%;
}
.sale .swiper-slide .image img {
  padding: 6px;
}
.sale .slider__controls .swiper-pagination-bullet-active {
  background: white !important;
}

.stores {
  background: #f2f2f2;
}
.stores header {
  position: relative;
}
@media (min-width: 991px) {
  .stores header {
    padding: 1rem 0;
  }
}
.stores header button[aria-disabled=true] {
  display: none !important;
}
.stores header .prev {
  position: absolute;
  top: 0;
  left: 3rem;
}
.stores header .next {
  position: absolute;
  top: 0;
  right: 3rem;
}
.stores .store {
  max-width: 528px;
  height: 100%;
  margin: 0 auto;
  font-size: clamp(1.125rem, 1.2rem + 1.5vw, 1.5rem);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: white;
}
.stores .store .item {
  border-bottom: 1px solid #c4c4c4;
  padding: 0 0.5rem;
}
.stores .store header {
  padding: 0.3rem 0.6rem;
}
.stores .store .content h4 {
  font-size: clamp(1rem, 0.5rem + 1.5vw, 1.5rem);
}
.stores .store .content p {
  font-size: clamp(0.875rem, 0.5rem + 1.5vw, 1.125rem);
}
.stores .store .content .price {
  font-size: clamp(1.125rem, 1rem + 1.5vw, 1.5rem);
}
.stores .store .content .rate img {
  width: 0.9rem;
}

.testimonials {
  background: #b92728;
  color: #ffffff;
  padding: 2.5rem 0;
}
.testimonials .swiper-slide .content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
@media (min-width: 768px) {
  .testimonials .swiper-slide .content {
    text-align: initial;
    gap: 1rem;
  }
}
.testimonials .swiper-slide .content .rate img {
  width: 1.5rem;
}
.testimonials .swiper-slide h4 {
  font-size: clamp(1.5rem, 1rem + 2vw, 2.25rem);
  font-weight: 500;
}
.testimonials .swiper-slide p {
  margin-bottom: 0;
  font-size: clamp(0.75rem, 0.5rem + 2vw, 1.6rem);
  line-height: 2em;
}
.testimonials .swiper-slide .image img {
  width: 10rem;
  border: 2px solid white;
  border-radius: 999rem;
  padding: 5px;
}
@media (min-width: 768px) {
  .testimonials .swiper-slide .image img {
    width: 13rem;
  }
}
@media (min-width: 768px) {
  .testimonials .arrows {
    position: relative;
    top: -2.5rem;
    gap: 1.5rem;
    z-index: 10;
  }
}
.testimonials .arrows img {
  display: block;
  width: 2.5rem;
}
@media (min-width: 768px) {
  .testimonials .arrows img {
    width: auto;
  }
}
@media (min-width: 768px) {
  .testimonials {
    padding: 5rem 0;
  }
}

.newsletter h5 {
  font-size: clamp(0.875rem, 0.5rem + 2vw, 2.25rem);
  font-weight: 500;
  margin: 1.4rem 0 2.2rem;
  text-align: center;
}
.newsletter h5 span {
  color: #b92728;
}
.newsletter form {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 45rem;
  margin-inline: auto;
  font-size: clamp(0.875rem, 0.5rem + 1.5vw, 1.125rem);
}
.newsletter form button {
  position: absolute;
  left: 0.4rem;
  top: 50%;
  height: 85%;
  transform: translateY(-50%);
  font-size: clamp(0.75rem, 0.5rem + 1vw, 1rem);
  padding: 0 2em;
}
@media (min-width: 768px) {
  .newsletter {
    padding: 6rem 0;
  }
}

footer.footer {
  background: rgba(243, 160, 142, 0.1215686275);
}
footer.footer .top {
  padding: 2.5rem 3rem;
}
footer.footer .bottom {
  background: #b92728;
  color: #ffffff;
}
footer.footer .bottom p {
  font-size: clamp(0.875rem, 0.5rem + 1.5vw, 1.5rem);
  margin-bottom: 0;
}
footer.footer h3 {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0;
}
footer.footer .footer__lists {
  gap: 2.5rem;
}
footer.footer .footer__lists .list {
  display: flex;
  flex-direction: column;
}
footer.footer .footer__lists .list .label {
  font-size: clamp(0.875rem, 0.5rem + 1.5vw, 1.5rem);
  color: #b92728;
  margin-bottom: 1rem;
}
footer.footer .footer__lists .list a {
  font-size: clamp(0.875rem, 0.5rem + 1.5vw, 1.125rem);
  font-weight: 500;
}
footer.footer .footer__lists .list a:hover {
  color: #b92728;
}
@media (min-width: 991px) {
  footer.footer .footer__lists {
    gap: 6rem;
  }
}

/*# sourceMappingURL=main.css.map */
