/* Tajawal Font */
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.input {
  border: none;
  background: #ffffff;
  width: 100%;
  padding: 0.85rem 1.25rem;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
  border-radius: 999rem;
}

.btn {
  font-weight: 500;
}

.btn-primary {
  background: #b92728;
  border-color: #b92728;
  border-radius: 9999rem;
  padding-inline: 0.75rem;
}

.btn-primary:hover {
  background-color: #a01818;
  border-color: #a01818;
}

.btn-primary:focus,
.btn-primary:active {
  background-color: #a01818;
  border-color: #a01818;
  box-shadow: 0 0 0 0.25rem rgba(211, 45, 45, 0.5058823529) !important;
}

.btn-secondary {
  background: white;
  border-color: white;
  color: #b92728;
  border-radius: 9999rem;
  padding-inline: 0.75rem;
}

.btn-secondary:hover {
  opacity: 0.9;
}

.btn-secondary:focus,
.btn-secondary:active {
  border-color: transparent;
  box-shadow: 0 0 0 0.25rem rgba(221, 221, 221, 0.5058823529) !important;
}

.slider__controls {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}
.slider__controls .swiper-pagination-bullet {
  background: #d9dbe1;
  opacity: unset;
  margin: 0 !important;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 0.5em;
}
.slider__controls .swiper-pagination-bullet-active {
  width: 1rem;
  background: #b92728 !important;
}

.header__top {
  background: #b92728;
  color: #ffffff;
}
.header__top :is(.country, .language) {
  display: flex;
  align-items: center;
}
.header__top .arrow {
  width: 1.5rem;
  height: 1.5rem;
}
.header__top .text {
  font-weight: 500;
}
.header__top .country .text {
  font-size: 0.875rem;
}
.header__top .language .text {
  font-size: 1rem;
}

.header__bottom .icon {
  position: absolute;
  left: 0.95rem;
  top: 50%;
  transform: translateY(-50%);
}

.hero .swiper-slide-inner {
  gap: 0.625rem 2.2rem;
}
.hero .swiper-slide-inner .item {
  flex: 1 0 calc(50% - 3.5rem);
  max-width: 25rem;
}
.hero .swiper-slide-inner .item .label {
  font-size: 1.125rem;
}

.hero #categories {
  padding: 3rem 1rem;
}

.offers {
  background: #fff6f2;
}
.offers .title {
  font-size: 1.5rem;
}
.offers-list {
  gap: 2.5rem;
}
.offers .footer-btn {
  margin-top: 2.5rem;
}

.offers .offer {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.offers .offer:nth-child(even) {
  flex-direction: row-reverse;
}
.offers .offer:nth-child(even) .image {
  margin-right: 0;
  margin-left: 0.3125rem;
}
.offers .offer h3 {
  font-size: 1.125rem;
}
.offers .offer p {
  font-size: 0.8rem;
}
.offers .offer .rate {
  margin-bottom: 1.5rem;
}
.offers .offer .image {
  margin-right: 0.3125rem;
}
.offers .offer .image img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.offer .timer {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
}
.offer .timer .digit {
  position: relative;
}
.offer .timer .digit:not(:first-child):after {
  content: ":";
  position: absolute;
  right: -0.65rem;
  top: 0;
}
.offer .timer .number {
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.offer .timer .label {
  text-transform: capitalize;
  font-size: 0.7rem;
}

body {
  font-family: Tajawal, sans-serif;
}

img {
  max-width: 100%;
  user-select: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

section {
  padding: 2.5rem 0;
  overflow: hidden;
}

.brands {
  background: #f2f2f2;
}
.brands .title {
  font-size: 1.4rem;
}

.features {
  background: #b92728;
  color: #ffffff;
  padding: 2.5rem 0;
  gap: 4rem;
}
.features .label {
  font-size: 2rem;
}

.ad h3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
}
.ad h4 {
  font-size: 0.875rem;
  font-weight: 700;
  color: #b92728;
  margin-bottom: 1.7rem;
}
.ad h4 span {
  color: #000;
}
.ad .btn {
  font-size: 1rem;
  font-weight: 700;
  padding-inline: 0.9rem;
  height: 4.5rem;
  width: 100%;
  position: relative;
}

.shops__carousel {
  padding: 0;
  padding-top: 1.25rem;
}
.shops__carousel .carousel-item-inner {
  max-width: 330px;
  margin: 0 auto;
}
.shops__carousel .carousel-item-inner .name {
  font-size: 1.125rem;
}
.shops__carousel .carousel-item-inner .price {
  font-size: 2.25rem;
  font-weight: 700;
  color: #b92728;
}

.sale {
  background: #b92728;
  color: #ffffff;
  padding-top: 4rem;
  padding-bottom: 1rem;
}
.sale header {
  font-weight: 500;
  margin-bottom: 3rem;
}
.sale header p {
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  margin-top: 2.5rem;
}
.sale .swiper-slide {
  max-width: 160px;
}
.sale .swiper-slide .image {
  width: 8.5rem;
  height: 8.5rem;
}
.sale .swiper-slide .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sale .swiper-slide .label {
  font-size: 1.125rem;
  font-weight: 500;
}
.sale .slider__controls .swiper-pagination-bullet-active {
  background: white !important;
}

.newsletter h5 {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 1.4rem 0 2.2rem;
}
.newsletter h5 span {
  color: #b92728;
}
.newsletter form {
  position: relative;
  display: flex;
  width: 100%;
}
.newsletter form button {
  position: absolute;
  right: 0.4rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.85em 2em;
  font-size: 0.75rem;
}

.footer {
  background: rgba(243, 160, 142, 0.1215686275);
}
.footer .top {
  padding: 2rem 3rem;
}
.footer .bottom {
  background: #b92728;
  color: #ffffff;
}
.footer .bottom p {
  font-size: 0.875rem;
  margin-bottom: 0;
}
.footer h3 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0;
}
.footer .footer__lists {
  gap: 2.5rem;
}
.footer .footer__lists .list {
  display: flex;
  flex-direction: column;
}
.footer .footer__lists .list .label {
  color: #b92728;
  margin-bottom: 1rem;
}
.footer .footer__lists .list a {
  font-weight: 500;
}
.footer .footer__lists .list a:hover {
  color: #b92728;
}

/*# sourceMappingURL=main.css.map */
